@import '../../assets/scss/setup/variables';
@import '../../assets/scss/setup/mixins';

.contact-details-page {
  .details-content {
    width: 50%;
    .user-img {
      width: 200px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
    .btn-container {
      >* {
        margin: 10px; 
      }
    }
  }
}

.load-msg {
  margin: 50px auto;
}

@include for-mobile-layout {
  .contact-details-page {
    .details-container {
      flex-direction: column;
      align-items: center;
      .details-content {
        .user-img {
          width: 140px;
        }
      }
    }
  }
}
