@import '../../assets/scss/setup/mixins';
@import '../../assets/scss/setup/variables';

.move-preview-container {
  width: 100%;
  .move-info {
    width: 100%;
    font-size: 12px;
    >* {
      margin-inline-start: 10px;
      margin-inline-end: 10px;
    }
    .coins-icon {
      width: 20px;
    }
  }
}

@include for-mobile-layout {
  .move-preview-container {
    .move-info {
      flex-direction: column;
      align-items: center;
      .coins-icon {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
}
