@import '../../assets/scss/setup/mixins';
@import '../../assets/scss/setup/variables';

.statistic-page {
  > * {
    margin: 50px auto;
    border: 1px solid #5F5F61;
    border-radius: 10px;
    color: #5F5F61;
    padding: 50px;
  }
}

@include for-mobile-layout {
  .statistic-page {
    > * {
      padding: 0;
    }
  }
}
