@import '../../assets/scss/setup/variables';
@import '../../assets/scss/setup/mixins';

.home-page {
  flex-grow: unset;
  min-height: 90vh;
  margin: 0;
  .home-page-content {
    flex-grow: 1;
    .user-info {
      .hello-container {
        color: $clr1;
        text-align: left;
        width: 100%;
        margin: 0 auto 20px auto;
        .coins-icon {
          width: 20px;
        }
        span {
          margin-inline-start: 10px;
        }
      }
    }
  }
  .cta-container {
    .cta-sentance {
      font-size: 2rem;
    }
  }
  .cta-btn {
    height: 35px;
    border-radius: 18px;
    margin-top: 20px;
    font-size: 14px;
    padding: 10px 20px;
  }
  .home-img {
    width: 550px;
  }
}

@include for-medium-layout {
  .home-page {
    .home-img {
      width: 400px;
    }
  }
}
@include for-narrow-layout {
  .home-page {
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    .user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .hello-container {
        > * {
          text-align: center;
          justify-content: center;
        }
      }
    }
    .cta-container {
      .cta-sentance {
        line-height: 1.2;
        font-size: 1.8rem;
      }
    }
    .cta-btn {
      margin-top: 10px;
      font-size: 16px;
    }
    .home-img {
      width: 100%;
      margin-top: 50px;
    }
  }
}
