@import '../setup/mixins';
@import '../setup/variables';

.header-layout {
  padding: 0 15px;
  height: 50px;
}

.main-layout {
  padding: 50px 15px 50px 15px;
  flex: 1;
}

.main-content {
  flex: 1; 
}

@include for-narrow-layout {
  .header-layout {
    padding: 0 10px;
  }
  .main-layout {
    padding: 20px 10px 20px 10px;
  }
}