@font-face {
    font-family: Segoe;
    src: url(../../fonts/Segoe/Segoe-UI.ttf);
}
@font-face {
    font-family: Segoe-Bold;
    src: url(../../fonts/Segoe/Segoe-UI-Bold.ttf);
}
@font-face {
    font-family: Baumans;
    src: url(../../fonts/Baumans/Baumans-Regular.ttf);
}
@font-face {
    font-family: Passion-One;
    src: url(../../fonts/Passion_One/PassionOne-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Dhurjati;
    src: url(../../fonts/Dhurjati/Dhurjati-Regular.ttf);
}
@font-face {
    font-family: Lalezar;
    src: url(../../fonts/Lalezar/Lalezar-Regular.ttf);
}