// COLOR PALETTE
$clr1: #E9E9E9; //text-color
$clr2: #407BFF; //button
$clr3: #2D323B; //input
$clr4: #02041E; //background color
$clr5: #222425; //divs bgc

// LAYOUT BREAKPOINTS
// $break-wide: 2000px;
$break-normal: 1200px;
$break-medium:900px;
$break-narrow: 700px;
$break-mobile: 550px;
