@import '../../assets/scss/setup/mixins';
@import '../../assets/scss/setup/variables';

.contact-edit-page {
  .edit-title {
    margin-block-end: 20px;
    text-align: center;
  }
  form {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    > * {
      margin-block-end: 20px;
    }
    label {
      flex: 1;
    }
    input {
      width: 85%;
    }
    .form-btn {
      width: 200px;
      margin-top: 0;
    }
  }
}

@include for-mobile-layout {
  .contact-edit-page {
    form {
      width: 100%;
      input {
        width: 80%;
      }
      .form-btn {
        width: unset;
      }
    }
  }
}
